* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* changed from a class attribute to an element attribute to match changes made in html file to include semantic elements/ .header -> header */
header {
    /* added flex box attributes to the header to format header/nav bar back to how it was before changes to html semantic elements/ div -> nav */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* changed from a class attribute to an element attribute to match changes made in html file to include semantic elements/ .header h1 -> header h1 */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changed from a class attribute to an element attribute to match changes made in html file to include semantic elements/ .header h1 .seo -> header h1 .seo */
header h1 .seo {
    color: #d9dcd6;
}

/* changed from a class attribute to an element attribute to match changes made in html file to include semantic elements and changed div to section/ .header div -> header section */
header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* changed from a class attribute to an element attribute to match changes made in html file to include semantic elements and changed div to section/ .header div ul -> header section ul */
header section ul {
    list-style-type: none;
}

/* changed from a class attribute to an element attribute to match changes made in html file to include semantic elements and changed div to section/ .header div ul li -> header section ul li*/
header section ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* changed benefits to benefit to allow bottom class to be renamed and make more sense contextually */
.benefit {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* changed class name from benefit-lead to benefits to apply to all three class cases in html file/ removes redundant blocks of code */
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/* blocked out redundant code */
/* .benefit-brand {
        margin-bottom: 32px;
        color: #ffffff;
    } */

/* blocked out redundant code */
/* .benefit-cost {
        margin-bottom: 32px;
        color: #ffffff;
    } */

/* changed class name from benefit-lead h3 to benefits h3 to apply to all three class cases in html file/ removes redundant blocks of code */   
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* blocked out redundant code */
/* .benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/* blocked out redundant code */
/* .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/* changed class name from benefit-lead img to benefits img to apply to all three class cases in html file/ removes redundant blocks of code */ 
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* blocked out redundant code */
/* .benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/* blocked out redundant code */
/* .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/* changed class search engine optimization to utilities to be use on all three sections in hmtl files/ removes redundant blocks of code */
.utilities {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* blocked out redundant code */
/* .online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/* blocked out redundant code */
/* .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/* changed search enegine optimization img to utilities to match code above */
.utilities img {
    max-height: 200px;
}

/* blocked out redundant code */
/* .online-reputation-management img {
    max-height: 200px;
} */

/* blocked out redundant code */
/* .social-media-marketing img {
    max-height: 200px;
} */

/* changed class search engine optimization h2 to utilities h2 to be use on all three sections in hmtl files/ removes redundant blocks of code */ 
.utilities h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* blocked out redundant code */
/* .online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/* blocked out redundant code */
/* .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/* changed from a class attribute to an element attribute to match changes made in html file to include semantic elements/ .footer -> footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* changed from a class attribute to an element attribute to match changes made in html file to include semantic elements/ .footer h2 -> footer h2 */
footer h2 {
    font-size: 20px;
}

/* added nav elements to match html changes and format navbar correctly */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

/* unused code used to test flex box for header/nav */
/* nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    margin-right: 10px;
} */
/* nav {
    display: flex;
    justify-content: flex-end;
    lign-items: baseline;
} */